/**********  Fuentes ****************/
@font-face {
  font-family: fuenteheader;
  src: url(../fuentes/HVD\ Fonts\ -\ BrandonText-Bold.otf);
}

@font-face {
  font-family: Roboto;
  src: url(../fuentes/Roboto-Light.ttf);
}

/**************************/
/*     Estilos generales     */
/**************************/
body,
html {
  width: 100%;
  height: 100%;
}

body,
p {
  color: #000000;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #000000;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -0.4px;
}

h2 {
  color: #000000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: -0.4px;
}

h3 {
  color: #000000;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.2px;
}

h4 {
  color: #222222;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.2px;
}

h5 {
  color: #222222;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.625rem;
}

h6 {
  color: #000000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
}

.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.li-space-lg li {
  margin-bottom: 0.5rem;
}

a {
  color: #000000;
  text-decoration: underline;
}

a:hover {
  color: #5e6576;
  text-decoration: underline;
}

.no-line {
  text-decoration: none;
}

.no-line:hover {
  text-decoration: none;
}

.blue {
  color: #21317E;
}

.bg-gray {
  background-color: #f9f9f9;
}

.section-title {
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0.125rem 1.75rem;
  border-radius: 30px;
  background-color: #ffe7eb;
  color: #FAB001;
  font-weight: 1000;
  font-size: 1rem;
}

.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #FAB001;
  border-radius: 30px;
  background-color: #FAB001;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-reg:hover {
  background-color: transparent;
  color: #FAB001; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #FAB001;
  border-radius: 30px;
  background-color: #FAB001;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-lg:hover {
  background-color: transparent;
  color: #FAB001; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

.btn-solid-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #FAB001;
  border-radius: 30px;
  background-color: #FAB001;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
}

.btn-solid-sm:hover {
  background-color: transparent;
  color: #FAB001; /* needs to stay here because of the color property of a tag */
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-image: url("../images/down-arrow.png");
  background-position: 98% 50%;
  background-repeat: no-repeat;
  outline: none;
}

/******************/
/*     Header     */
/******************/
.header {
  padding-bottom: 3rem;
  text-align: center;
}

.header .h1-large {
  margin-bottom: 1.25rem;
}

.header .p-large {
  margin-bottom: 2.75rem;
}

.header .btn-solid-lg {
  display: block;
  margin-bottom: 1.75rem;
}

.header .quote {
  display: block;
  color: #222222;
}

.header .quote i {
  margin-right: 0.5rem;
  color: #222222;
}

.header .text-container {
  margin-bottom: 5rem;
}

/********************/
/*     Services     */
/********************/
.cards-1 {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.cards-1 .card {
  margin-bottom: 5rem;
  padding: 3rem 2rem;
  border: 1px solid #5e6576;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 14px 4px 33px -9px rgba(255,255,255,0.23);
-webkit-box-shadow: 14px 4px 33px -9px rgba(255,255,255,0.23);
-moz-box-shadow: 14px 4px 33px -9px rgba(255,255,255,0.23);
}

.cards-1 .card-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 1.875rem;
  text-align: center;
  background-size: 90px 90px;
}

.cards-1 .card-icon.blue {
  background: url("../images/services-icon-bg-blue.png") center center no-repeat;
}

.cards-1 .card-icon.yellow {
  background: url("../images/services-icon-bg-yellow.png") center center
    no-repeat;
}

.cards-1 .card-icon.red {
  background: url("../images/services-icon-bg-red.png") center center no-repeat;
}

.cards-1 .card-icon .fas,
.cards-1 .card-icon .far {
  margin-right: 0.75rem;
  color: #ffffff;
  font-size: 2rem;
  line-height: 98px;
}

.cards-1 .card-body {
  padding: 0;
}

.cards-1 .card-title {
  margin-bottom: 1.125rem;
}

.cards-1 .card-body p {
  margin-bottom: 1.125rem;
}

.cards-1 .list-unstyled {
  margin-bottom: 0;
}

.cards-1 .list-unstyled .fas {
  font-size: 0.875rem;
  line-height: 1.625rem;
}

.cards-1 .list-unstyled .flex-grow-1 {
  margin-left: 0.5rem;
}

/*********************/
/*     Details 1     */
/*********************/
.basic-1 {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.basic-1 .image-container {
  margin-bottom: 4rem;
}

.basic-1 h2 {
  margin-bottom: 1.875rem;
}

.basic-1 h2 span {
  font-weight: 400;
}

.basic-1 p:last-of-type {
  margin-bottom: 2rem;
}

.basic-1 .btn-solid-reg {
  cursor: pointer;
}

/*********************/
/*    Contadores    */
/*********************/
.counter {
  padding-top: 5rem;
  padding-bottom: 9.75rem;
}

.counter .text-container {
  margin-bottom: 4rem;
}

.counter h2 {
  margin-bottom: 1.875rem;
}

.counter h2 span {
  font-weight: 400;
}

.counter p {
  margin-bottom: 4rem;
}

.counter .counter-container {
  text-align: center;
}

.counter .counter-cell {
  margin-bottom: 3rem;
  color: #21317E;
}

.counter .counter-cell.red {
  color: #FAB001;
}

.counter .purecounter {
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 2rem;
}

.counter .purecounter:after {
  content: "+";
  margin-left: 0.5rem;
}

.counter .counter-info {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/******************/
/*     Footer     */
/******************/
.footer {
  position: relative;
  padding-top: 2.75rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

/******************************/
/*     Boton para subir    */
/******************************/
#myBtn {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  display: none;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  outline: none;
  background-color: #44434a;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #1d1d21;
}

#myBtn img {
  margin-bottom: 0.25rem;
  width: 25 px;
}

/*************************/
/*     Media Queries     */
/*************************/
/* Min-width 768px */
@media (min-width: 768px) {
  /* Header */
  .header {
    padding-top: 9rem;
  }

  .header .h1-large {
    font-size: 2.75rem;
    line-height: 3.5rem;
  }
  /* end of header */

  /* Details 2 */
  .counter .counter-container {
    text-align: left;
  }

  .counter .counter-cell {
    display: inline-block;
    margin-right: 3rem;
    vertical-align: top;
  }
  /* end of details 2 */

}
/* end of min-width 768px */

/* Inicio del tamaño Min-width 992px */
@media (min-width: 992px) {
  /* General Styles */
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }

  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  /* end of general styles */

  /* Header */
  .header {
    padding-top: 13rem;
    text-align: left;
  }

  .header .text-container {
    margin-bottom: 0;
  }

  .header .btn-solid-lg {
    margin-right: 1.5rem;
    margin-bottom: 0;
  }

  .header .btn-solid-lg,
  .header .quote {
    display: inline-block;
  }
  /* end of header */

  /* Services */
  .cards-1 .card {
    display: inline-block;
    width: 298px;
    vertical-align: top;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 1rem;
    margin-left: 1rem;
  }
  /* end of services */


  /* Details 2 */
  .counter .text-container {
    margin-bottom: 0;
  }

  .counter .counter-cell {
    display: inline-block;
    vertical-align: top;
  }
  /* end of details 2 */


/* fin del tamaño min-width 992px */

/* Min-width 1200px */
@media (min-width: 1200px) {
  /* Estilos generales */
  .container {
    max-width: 1140px;
  }
  /* Fin de los estilos generales */

  .logo-image img {
	position: absolute;
	top: 3px;
	width: 450px;
	max-width: none;
  }

  /* Header */
  .header {
    overflow: hidden;
    padding-top: 20.25rem;
    padding-bottom: 12.5rem;
  }

  .header .image-container {
    position: relative;
  }

  .header .image-container img {
    position: absolute;
    top: -150px;
    left: 10px;
    width: 800px;
    max-width: none;
  }
  /* Fin del header */

  /* Lo nuevo */
  .cards-1 .card {
    width: 342px;
  }

  .cards-1 .card:nth-of-type(3n + 2) {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
  /* Fin de lo nuevo */


  /* Contadores */
  .counter {
    overflow: hidden;
    padding-top: 7rem;
  }

  .counter .image-container {
    position: relative;
  }

  .counter .image-container img {
    position: absolute;
    top: -60px;
    left: 20px;
    width: 900px;
    max-width: none;
  }

  /* Fin de los contadores */
  /* Fin del tamañ min-width 1200px */ 

.call-to-action {
  position: relative;
  background-image: linear-gradient( 181.2deg,  rgba(181,239,249,1) 10.5%, rgba(254,254,254,1) 86.8% );
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 2rem;
}